* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: rgba(0,0,0,0.8);
}

img {
  height: 290px;
  width: 200px;
}